<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.indecsa">

    <application
        android:allowBackup="true"
        android:label="Indecsa"
        android:supportsRtl="true"
        android:theme="@style/Theme.Indecsa">

        <!-- Actividad principal con intent-filter: requiere android:exported -->
        <activity
            android:name="com.example.indecsa.InicioSesionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades sin intent-filter: no requieren android:exported -->
        <activity android:name="com.example.indecsa.EstadoActivity" />
        <activity android:name="com.example.indecsa.EspecialidadActivity" />
        <activity android:name="com.example.indecsa.CarteraActivity" />    </application>
</manifest>